html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-content {
  height: 100vh;
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  z-index: 1;
}

.modal-title-centered {
  text-align: center;
  width: 100%;
  padding-right: 0px;
  font-weight: 700;
  color: #2c3e50;
  font-size: 1.1rem;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f2f5;
  gap: 20px;
  font-family: sans-serif;
  color: #1890ff;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.custom-confirm-modal .ant-modal-confirm-body-icon {
  display: none !important;
}

.custom-confirm-modal .ant-modal-confirm-body .ant-modal-confirm-title,
.custom-confirm-modal .ant-modal-confirm-body .ant-modal-confirm-content {
  text-align: center !important;
  margin-inline-start: 0 !important;
}

.custom-confirm-modal .ant-modal-confirm-btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 24px;
  float: none !important;
}

.custom-confirm-modal .ant-btn {
  height: 45px !important;
  padding: 0 25px !important;
  border-radius: 30px !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  border: none !important;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.custom-confirm-modal .ant-btn-primary {
  background-color: #74acff !important;
  box-shadow: 0 6px 12px rgba(116, 172, 255, 0.3) !important;
}

.custom-confirm-modal .ant-btn-primary:hover {
  background-color: #3e88f7 !important;
  color: white !important;
  transform: scale(1.05) translateY(-2px);
  box-shadow: 0 8px 15px rgba(62, 136, 247, 0.4) !important;
}

.custom-confirm-modal .ant-btn-default {
  background-color: #ff7875 !important;
  color: white !important;
  box-shadow: 0 6px 12px rgba(255, 120, 117, 0.3) !important;
}

.custom-confirm-modal .ant-btn-default:hover {
  background-color: #ff4d4f !important;
  color: white !important;
  transform: scale(1.05) translateY(-2px);
  box-shadow: 0 8px 15px rgba(255, 77, 79, 0.4) !important;
}
